wave {
    enabled = true
}

fusion {
    enabled = true
}
aws {

    accessKey = 'UDBJ6OQJLJ7TOC19BV5S'
    secretKey = 'aekCiyG9CD2WrDIK2CDsv2E1PqG3U6syq9ecp9Kf'
    
    client {
        endpoint = 'http://rook-ceph-rgw-ceph-objectstore.matt-ceph.svc.cluster.local:80'
        s3PathStyleAccess = true
        signerOverride = 'S3SignerType'
    }

}


process {
    executor = 'k8s'
}

k8s {
    namespace = 'tower-nf'
}


