wave {
    enabled = true
}

fusion {
    enabled = true
}
aws {

    accessKey = 'test'
    secretKey = 'test'
    
    client {
        endpoint = 'http://rook-ceph-rgw-ceph-objectstore'
        s3PathStyleAccess = true
        protocol = 'http'
    }

}


process {
    executor = 'k8s'
}

k8s {
    namespace = 'tower-nf'
}


